*{
    margin: 0;
}
body{
    background-color:#e2e2e2;
}
.header{
    width: 100%;
    height: 41px;
    background-color:#e2e2e2 ;
    border-bottom:0.5mm #cac5c5 dashed;
    position: sticky;
    top: 0px;
    z-index: 6;
}
.temp{
    position: absolute;
    left: 280px;
    top:11px;
    font-size: 18px;
    color:#4e6779;
    text-decoration: none;
}
.temp:hover{
    color: #384b59;
}
.edit{
    position: absolute;
    left: 957px;
    top:13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #9a9a9a;
    text-shadow:1px 1px 0px black;
}
#pens{
    font-size:16px;
    color:#9a9a9a;
    text-shadow:0px 0px 0px transparent; 
}
.edit:hover{
    color: #384b59;
    cursor: pointer;
}
.edit:hover #pens{
    color: #384b59;
    cursor: pointer;
}
.download{
    position: absolute;
    left: 1035px;
    top:13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #9a9a9a;
    text-shadow:1px 1px 0px black;
}
#down{
    font-size:16px;
    color:#9a9a9a;
    text-shadow:0px 0px 0px transparent; 
}
.download:hover{
    color: #384b59;
    cursor: pointer;
}
.download:hover #down{
    color: #384b59;
    cursor: pointer;
}
.discuss{
    position: absolute;
    left: 1157px;
    top:13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #9a9a9a;
    text-shadow:1px 1px 0px black;
}
#dis{
    font-size:16px;
    color:#9a9a9a;
    text-shadow:0px 0px 0px transparent; 
}
.discuss:hover{
    color: #384b59;
    cursor: pointer;
}
.discuss:hover #dis{
    color: #384b59;
    cursor: pointer;
}
.second{
    width: 100%;
    height: 133px;
    background-color:#4e5944;
    border-bottom:0.8mm rgba(255, 255, 255, 0.903) solid;
    box-shadow: 0px 0.1mm 1px #4e5944d1;
}
.imgpng{
    position: absolute;
    top: 81px;
    left: 278px;
}
.home{
    position: absolute;
    top:114px;
    left:729px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.about{
    position: absolute;
    top:114px;
    left:799px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.practices{
    position: absolute;
    top:114px;
    left:875px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.ourlaw{
    position: absolute;
    top:114px;
    left:981px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.news{
    position: absolute;
    top:114px;
    left:1105px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.contact{
    position: absolute;
    top:114px;
    left:1175px;
    font-size: 13px;
    font-weight: bold;
    color: #b8c6ac;
    text-shadow:1px 1px 0px black;
    text-decoration: underline;
}
.a{
    color: #4e5944;
}
.a:hover{
    color: #343a2d;
}
.about{
    color:white;
}
.home:hover{
    color: white;
}
.about:hover{
    color: white;
}
.practices:hover{
    color: white;
}
.ourlaw:hover{
    color: white;
}
.news:hover{
    color: white;
}
.contact:hover{
    color: white;
}
.mainpic{
    width: 926px;
    height: 300px;
    position:relative;
    top: 40px;
    left: 291px;
    background-image: url(https://freewebsitetemplates.com/preview/lawfirm/images/thumb-up.jpg);
    background-size: 926px 300px;
    background-repeat: no-repeat;
    background-position: center;
    border:white 6px ridge;
}
.mainpic:before, .mainpic:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 0px;
  width: 65%;
  top: 80%;
  max-width:350px;
  background: #777;
  -webkit-box-shadow: 0 30px 10px #545a4db3;
  -moz-box-shadow: 0 30px 10px #57614fa0;
  box-shadow: 0 30px 10px #57624f9e;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  
}
.mainpic:after
{
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: -1;
  right: 0px;
  left: auto;
}
.heading{
    color: #4e5944de;
    position: relative;
    left: 289px;
    top: 28px;
    font-size: 29px;
}
.parabody{
    width: 937px;
    height: 550px;
    position: relative;
    top: 70px;
    left: 290px;
}
.paraah1{
    color: #4e5944de;
    font-size: 19px;
    letter-spacing:0.53mm;
    
}
.paraa1{
    color: #4e5944;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 6.3mm;
    position: relative;
    top: 2px;
}
#paraah1{
    position: relative;
    top: 24px;
}
#paraa1{
    position: relative;
    top: 25px;
}
#paraah2{
    position: relative;
    top: 55px;
}
#paraa2{
    position: relative;
    top: 55px;
}
#paraah3{
    position: relative;
    top: 75px;
}
#paraa3{
    position: relative;
    top: 77px;
}
#paraa4{
    position: relative;
    top: 68px;
    line-height: 12mm;
}



.down{
    height: 300px;
    width: 100%;
    background-color:#d3d2d2;
    /* margin-top: -705px; */
    border-top:0.6mm rgba(255, 255, 255, 0.903) solid;
    box-shadow: 0px 10px 20px #090908;
    position: relative;
    top: 75px;
}
.last{
    height: 42px;
    width: 100%;
    /* background-color: white; */
    background-color: #3c4236d6;
    position: relative;
    top: 210px;
}
#facebook{
    color: blue;
    position: absolute;
    top: 15px;
    left: 290px;
    background-color: white;
    height: 13px;
    width: 14px;
    border-radius: 14px;
}
#pint{
    color: darkred;
    position:absolute;
    top: 15px;
    left: 365px;
    background-color: white;
    height: 13px;
    width: 14px;
    border-radius: 14px;
}
#google{
    color: darkred;
    position:absolute;
    top: 15px;
    left: 340px;
    background-color: white;
    height: 13px;
    width: 14px;
    border-radius: 14px;
}
#twitter{
    color:aqua;
    position:absolute;
    top: 15px;
    left: 315px;
    background-color: white;
    height: 13px;
    width: 14px;
    border-radius: 14px;
}
.para{
    position: absolute;
    left: 870px;
    color: #b5c1aa;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10mm;
    letter-spacing:0.15mm;
}
.lastp1{
    height:190px;
    width: 500px;
    
    position: absolute;
    left: 100px;
    border-right: #9c9a9a 1px solid;
}
.lastp2{
    height:190px;
    width: 318px;
   
    position: absolute;
    left: 602px;
    border-right: 1px solid #9c9a9a;
}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #4e5944;
    position: absolute;
    top: 38px;
    left: 210px;
    font-size: 12px;
    font-weight: 700;
}
.p1{
    position: absolute;
    top: 60px;
    left:210px;
    font-size: 12px;
    line-height: 6mm;
    color: #4e5944;
    font-family: Arial, Helvetica, sans-serif;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #4e5944;
    position: absolute;
    top: 38px;
    left: 30px;
    font-size: 12px;
    font-weight: 700;
}
.p2{
    position: absolute;
    top: 60px;
    left:30px;
    font-size: 12px;
    line-height: 6mm;
    color: #4e5944;
    font-family: Arial, Helvetica, sans-serif;
}
.lastp3{
    height:190px;
    width: 718px;
   
    position: absolute;
    left: 742px;
    border-right: 1px solid #9c9a9a;
}
#click{
    width: 210px;
    height: 37px;
    position: absolute;
    left: 210px;
    top: 130px;
    line-height: 9mm;
}
.readmore{
    position: absolute;
    top: 197px;
    left: 488px;
    background-color: #626262f0;
    color: white;
    font-size: 12px;
    height: 27px;
    width: 96px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 7.7mm;
    box-shadow: 1px 1px 0px #68775a;
}
.readmore:hover{
    background-color: #2d3228;
}












